<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr/>


  <div class="row">
  <div class="row mb-3">
    <div class="col text-center">
      <label style="margin-right: 10px">I'm a: </label>
      <label class="form-check-label">
        <input type="radio" class="form-check-input" value="male" formControlName="gender"> Male
      </label>
      <label class="form-check-label ms-1">
        <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender"> Female
      </label>
    </div>
  </div>

  <div class="col">
    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'" [type]="'password'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'" [type]="'password'"></app-text-input>
  </div>

  <div class="col">

    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Known As'"></app-text-input>

    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Date Of Birth'" [maxDate]="maxDate"></app-date-picker>

    <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'"></app-text-input>
  </div>
  </div>

  <div class="row" *ngIf="validationErrors">
    <hr class="border border-danger border-3 opacity-75">

    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{error}}
      </li>
    </ul>
  </div>

  <hr class="border border-primary border-3 opacity-75">

  <div class="text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
