<div class="card">
  <div class="card-body">
    <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
      No messages yet... say hi</div>
    <ul class="chat" *ngIf="(messageService.messageThread$ | async)!.length > 0">
      <li *ngFor="let message of (messageService.messageThread$ | async)">
        <div>
          <span class="chat-img float-end">
            <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/images/user.png'}}" alt="">
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">{{message.messageSent + 'Z' | timeago}}</span>
                <span class="text-danger"
                      *ngIf="!message.dateRead && message.senderUsername !== username"> (unread)</span>
                <span class="text-success"
                      *ngIf="message.dateRead && message.senderUsername !== username"> (read {{message.dateRead + 'Z' | timeago}}
                  )</span>
              </small>
              <p>{{message.content}}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Send a private message"
               name="messageContent"
               required
               [(ngModel)]="messageContent"
        >
        <div class="input-group-append">
          <button class="btn btn-primary ms-2" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
